.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-block: 1rem;
}

.head-motive:hover {
  color: rgb(8, 251, 8);
}
.taggs {
  text-decoration: none;
  color: inherit;
}
button {
  color: aqua;
  background-color: black;
  box-shadow: 0px 1px 4px rgba(9, 0, 0, 0.5);
}
button:active {
  color: rgb(8, 251, 8);
}
button:hover {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.newbiee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-block: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.newbiee:hover {
  color: rgb(8, 251, 8);
}
.newbie:active {
  color: orangered;
}
.selectplaces {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  flex-wrap: wrap;
  border-top: 1px solid rgb(248, 242, 242);
  border-bottom: 1px solid white;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  column-gap: 1rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.selectplaces:hover {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.selectplace {
  transition: all 2s ease-out;
}
.selectplace:active {
  color: rgb(131 7 248);
}
.selectplace:hover {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.3);
}
.appvideo {
  height: 20rem;
  width: 20rem;
  background-size: cover;
  border-radius: 1rem;
}
.fourtop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-decoration: none; 
      flex-wrap: wrap;
    column-gap: 1rem; 
    margin-block: 1rem;
     font-size: 1rem; */
}
.four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-block: 1rem;
  font-size: 1rem;
}
.four:hover {
  color: rgb(8, 251, 8);
}
.filter-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  font-size: 1rem;
}
.create-innerbox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
}
.create-innerbox input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  height: 1.7rem;
  text-align: center;
  color: aqua;
  background-color: black;
}
.main-box {
  margin: 0.5rem;
  background-color: rgba(9, 0, 0, 0.8);
  color: aqua;
  padding: 0.5rem;
}
/* .labelshadow {
  background-color: orangered;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
} */
.nono {
  display: none;
}
/* .head-motive {
  
  text-align: center;
  padding: 3px;
  display: flex;
} */
.motive-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding-inline: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  /* line-height: 2rem; */

  font-family: Arial, sans-serif;
  letter-spacing: 0.5rem;
  animation: example 3s ease-out 1s infinite alternate;
  /* width: 50%; */
  transition: all 0.5s linear infinite;
}
.taggs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: aliceblue;
  border-radius: 40%;
  border: green 3px solid;
}
.tagginner {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: grey;
}
/* .no-display {
  display: none;
} */
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;

    transform: translateX(100px);
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
    transform: translateX(0px);
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
    transform: translateX(0px);
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
    transform: translateX(150px);
  }
}
