* {
  margin: 0px;
}
.header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  font-size: 1rem;
  margin-block: 1rem;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 0px black;
  /* border-radius: 1.2rem; */
  margin-bottom: 2rem;
}

/* .head-motive:hover {
  color: rgb(8, 251, 8);
} */
.taggs {
  text-decoration: none;
  /* color: inherit; */
}
button {
  color: rgb(186, 185, 185);
  background-color: black;
  box-shadow: 0px 1px 4px rgba(9, 0, 0, 0.5);
  /* width: 100%; */
}
button:active {
  color: rgb(8, 251, 8);
}
.link {
  width: 100%;
}
button:hover {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* color: white; */
}
.newbiee {
  display: flex;
  /* color: rgb(51, 49, 49); */
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-block: 1rem;
  font-size: 1rem;
  font-weight: bold;
  padding-inline: 0.5rem;
}
.newbiee:hover {
  color: rgb(8, 251, 8);
}
.newbie:active {
  color: orangered;
}
.selectplaces {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  flex-wrap: wrap;

  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  column-gap: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.382);

  /* color: rgb(51, 49, 49); */
}
.selectplaces:hover {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.selectplace {
  transition: all 2s ease-out;
}
.selectplace:active {
  color: rgb(7, 7, 248);
}
.selectplace:hover {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.3);
}
.appvideo {
  height: 20rem;
  width: 20rem;
  background-size: cover;
  border-radius: 1rem;
}
.fourtop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-decoration: none; 
      flex-wrap: wrap;
    column-gap: 1rem; 
    margin-block: 1rem;
     font-size: 1rem; */
}
.four {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-block: 1rem;
  font-size: 1rem;
}
.four:hover {
  color: rgb(8, 251, 8);
}
.filter-create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  font-size: 1rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}
.create-innerbox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
}
.create-innerbox input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1rem;
  height: 1.7rem;
  text-align: center;
  padding-left: 1rem;
}
.main-box {
  /* margin: 0.5rem;

  /* color: rgb(255, 98, 0); */
  /* padding: 0.5rem; */
}
/* .labelshadow {
  background-color: orangered;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
} */
.nono {
  display: none;
}
/* .head-motive {
  
  text-align: center;
  padding: 3px;
  display: flex;
} */
.matt {
  font-size: large;
}
.motive-animation {
  font-size: 2.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding-inline: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  /* line-height: 2rem; */

  font-family: Arial, sans-serif;
  letter-spacing: 0.5rem;
  animation: example 10s linear alternate-reverse;
  /* width: 50%; */
  transition: all 0.5s linear infinite;
}
.taggs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: aliceblue;
  border-radius: 40%;
  border: green 3px solid;
}
.tagginner {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: grey;
}

/* .no-display {
  display: none;
} */
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;

    /* transform: translateX(0px); */
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  40% {
    background-color: rgb(33, 5, 246);
    left: 200px;
    top: 200px;
    /* transform: translateX(50px); */
  }
  65% {
    background-color: rgb(8, 252, 65);
    left: 0px;
    top: 200px;
    /* transform: translateX(100px); */
  }
  75% {
    background-color: rgb(8, 252, 65);
    left: 0px;
    top: 200px;
    /* transform: translateX(100px); */
  }
  90% {
    background-color: transparent;
    left: 0px;
    top: 0px;
    /* transform: translateX(150px); */
  }
  100% {
    background-color: transparent;
    left: 0px;
    top: 0px;
    /* transform: translateX(150px); */
  }
}
