.im-age-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  row-gap: 1rem;
  /* flex-wrap: wrap; */
  /* color: #000; */
  border-top: 1px solid rgba(0, 0, 0, 0.355);
  padding: 1rem;
  flex-direction: column;
}
.imagedescover {
  /* flex: 3;
  flex-basis: 300px; */
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 1rem;
}
.im-age-containerhover {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
  row-gap: 1.4remut india;
  /* flex-direction: column; */
}
.imagedescover:hover {
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}
/* .im-age-container:hover .im-age-containerhover:not(:hover) {
  transform: scale(0.8);
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  color: white;
}
.im-age-container:hover .im-age-containerhover:hover .imagedesc:hover {
  background-size: contain;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.8);
  color: white;
  scale: 0.9; */
/* } */
/* filter: blur(10px);
*/
.video-text {
  flex: 5;
  text-align: left;
  /* background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text; */
  /* color: transparent; */
  /* color: rgb(17, 10, 10); */
  /* margin-left: 300px; */
}
.taggs-create {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 3rem;

  padding-block: auto;
  padding-inline: 0.5rem;
  background-color: rgb(0, 0, 9);
  border: 2px solid rgb(99, 98, 98);
  border-radius: 40%;
  padding-bottom: 2px;
  /* color: white; */
}
.container {
  background-image: linear-gradient(
    to top right,
    rgba(22, 152, 233, 0.4),
    rgba(91, 7, 248, 0.5)
  );
  /* background-color: #000; */
  margin: 0;
}
.no-display {
  display: none;
}
.join {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  flex-direction: column;
}
.join-green {
  background-color: #07f20d;
  padding-inline: 0.5rem;
  border-radius: 0.7rem;
}

@media screen and (max-width: 890px) {
  .im-age-containerhover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .im-age-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* color: #000; */
  }
  .join {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
  }
}
