body {
  background-color: rgb(67, 71, 66);
  background-image: linear-gradient(
    to right top,
    rgb(2, 145, 228),
    aqua,
    transparent
  );
}
.first {
  color: rgb(10, 0, 0);
  text-align: right;

  margin-left: 20%;
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  margin-bottom: 2px;
}
.last {
  color: rgb(89, 97, 97);

  display: flex;
  justify-content: left;
  box-sizing: border-box;
  text-align: left;
  margin-right: 20%;

  text-align: left;
}
.area-text {
  width: 80%;
}
.login-input {
  width: 300px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  text-align: center;
}
.login-input input,
button {
  border-radius: 1rem;

  width: 100%;
  box-sizing: border-box;
  color: #1ab5ee;
  text-align: center;
  font-weight: bold;
  height: 2rem;
}
.login-input a {
  border-radius: 1rem;
  background-color: rgb(1, 10, 18);
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  color: rgb(30, 133, 229);
  height: 2rem;
}
.Name-owner {
  font-size: xx-large;
  font-weight: 900;
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.main-message-background {
  background-color: rgb(165, 142, 142);
  width: 80%;
}
.main-message-background-check {
  display: block;
  margin-bottom: 2px;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  row-gap: 1rem;
}
.send {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.sendone {
  flex: 4;
  min-height: 2rem;
  min-width: 15rem;
  max-width: 20rem;
  border-radius: 1rem;
}
.sendone:hover {
  box-shadow: 0px 0px 26px rgb(13 229 35 / 70%);
  filter: brightness(200%);
}
.sendtwo {
  flex: 1;
  min-height: 3rem;
  max-width: 5rem;
  box-shadow: 5px 5px 5px black;
  opacity: 0.8;
  filter: blur(10%);
  transition: all 1s ease-in;
  position: relative;
}
.sendtwo:hover {
  transform: scale(1.2);
}

.main-message-background-check {
  padding: 1rem;
  padding-left: 1rem;
}

.spaone {
  border-radius: 1rem;
  background-color: aliceblue;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.log-log {
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  flex-direction: column;
  /* height: 100vh; */
}
.msg {
  width: 90vw;
}
.message-grow {
  height: 100%;
}
.yourname {
  background-image: linear-gradient(
    to top right,
    rgba(221, 14, 124),
    rgb(91, 7, 248),
    orangered,
    rgb(0, 255, 106)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bolder;
}
