*{
  padding: 0;margin: 0;box-sizing: border-box;width: 100%;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1p solid black;
}
.main-top{ display: flex;
  justify-content: center; border: 1px solid black;text-align: center;max-height: 3rem;flex-direction: row;
  align-items: top;}
.main-container{ display: flex;flex-direction: column;
  justify-content: center; border: 1px solid black;
  align-items: center;}
.four-contain{ display: flex;
  justify-content: center; border: 1px solid black;
  align-items: center;}
  .four-contain{
    text-align: center; display: flex;
    justify-content: center; border: 1px solid black;
    align-items: center;
  }
  .header,.footer{
    height: 4rem;
    width: auto;  text-align: center; display: flex;
    justify-content: center; border: 1px solid black;
    align-items: center;
  }
  .imagedesc{
    height: 300px;background-size: cover;
    width:300px
  }
  .appvideo{
    height: 300px;
    width:300px ;
     /* background-size: cover; */
    object-fit: fill;
    
  }
  .selectplaces{
    width: auto;  text-align: center; display: flex; flex-direction: row;gap: 1.9rem;flex-wrap: nowrap;
    justify-content: center; border: 1px solid black;
    align-items: center;
  }