.imagedesc {
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;

  width: 300px;
  object-fit: cover;
  /* background-size: contain; */
  /* margin-bottom: 1rem; */
  transition: all 1s ease-out;
}
.imagedesc:hover {
  transform: scale(1.3);
}
.video-text {
  margin-bottom: 1rem;
  transition: all 1s ease-in infinite;
}
.video-text:hover {
  transform: skewX(2 deg);
  /* transform: skewY(10deg); */
  color: rgb(223, 223, 224);
}
